body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #111;
    color: #eee;
    padding: 2em;
    text-align: center;
}

input, button {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    border-radius: 10px;
    border: none;
}

button {
    background: #0097bd;
    color: white;
    cursor: pointer;
}
